body {
    background-image:url("background.jpg");
    background-size: 100%;
    font-family: "papyrus", fantasy;
    text-align: center;
    color: white;
}


button{
    background-color: white;
}

img {
    width: 15%;
    height: 15%;
    border-style: solid;
}

#CV{
    width: 35%;
    height 35%;
}

h3{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: 700;
    font-family: "papyrus", fantasy;
}

button{
    padding: 20px;
    background-color: rgb(231, 136, 10);
    border-style: solid;
    border-color: white;
    margin-right: 30px;

}

a{
    font-family: "papyrus", fantasy;
    font-size: 20px;
    color: white;
}

footer{
    position: absolute;
    left: 45%;
    top: 100%;
}

.rubrik{
    font-size: 50px;
}

.text{
    left: 35%;
    margin: 20px;
    position: absolute;
    padding: 50px 100px;
    background-color: rgb(231, 136, 10);
}